@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
/* https://coolors.co/palette/97dffc-858ae3-613dc1-4e148c-2c0735 */

:root {
    --text-color: #b0b0b0;
    --text-hover-color: #f4f4f4;
    --bg-lighter: #515151;
    --bg-darker: #2b2b2b;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-darker);
    /* background-image: linear-gradient(var(--bg-lighter), var(--bg-darker)); */
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px 5px rgb(0, 0, 0, 0.3) inset;
}

* {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.clock-container {
    order: 0;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.search-container {
    order: 2;
    margin-bottom: 1rem;
}

.search-box {
    font-size: 2rem;
    width: 80%;
    background-color: var(--bg-lighter);
    /* border: dotted var(--text-color); */
    border-radius: .4rem;
    border: none;
    padding: 1rem;
    text-align: left;
}

.search-box::placeholder {
    text-align: center;
}

.search-box:focus {
    outline: none;
}

.shortcuts-container {
    display: flex;
    justify-content: space-evenly;
    order: 1;
    margin-bottom: 1rem;
    column-gap: 1rem;
    row-gap: .5rem;
    flex-wrap: wrap;
    max-width: 25rem;
}

.shortcuts-container a {
    all: unset;

    text-decoration: underline solid;
    cursor: pointer;
    padding: .4rem;
}

.shortcuts-container a:hover {
    color: var(--text-hover-color);
}

@media screen and (min-width: 1280px) and (min-height: 720px) {
    .container {
        justify-content: center;
        transform: scale(1.85);
    }

    .search-container {
        order: 1;
    }

    .search-box {
        width: auto
    }

    .shortcuts-container {
        order: 2;
    }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
    .container {
        transform: scale(3.85);
    }
}