@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,700;0,900;1,300;1,900&display=swap');

:root {
    --text-color: #C7D8E7;
    --text-hover-color: #5C8AAC;
    --primary-bg-color: #050B1F;
    --secondary-bg-color: #122E76;
}

html,
body {
    color: var(--text-color);
    font-family: 'Libre Franklin', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 1rem;
    padding: 0;
}

.navbar {
    position: sticky;
    display: flex;
    top: 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navbar-clock-container {
    text-align: center;
}

.navbar-date {
    margin-bottom: 5px;
}

.navbar-links-container {
    display: flex;
}

.navbar-link {
    margin-right: .5rem;
}

.navbar-link a {
    all: unset;

    padding: 1rem;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

.navbar-link a:hover {
    color: var(--text-hover-color);
}

.navbar-link:last-child {
    margin-right: 0;
}

.navbar-link a:hover {
    text-decoration: underline solid;
}

.top-of-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 615px;
    height: calc(100vh - 75px);

    /* Match navbar height */
    margin-top: -51px;
}

.welcome-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: fit-content;
}

.welcome-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 50px;

    padding: 150px 100px 150px 50px;
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
}

.welcome-text {
    font-weight: 900;
    font-size: 2rem;

    animation: page-load-fly-in .5s;
    transition: transform .1s ease;
}

.welcome-text:hover {
    transform: scale(1.04);
}

#hi-text {
    display: block;
}

.welcome-links-container {
    width: 360px;
}

.welcome-social-link-container {
    font-size: 2rem;
    transition: all .1s ease;
    animation: page-load-write-on .5s forwards linear;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.welcome-social-link-container:hover {
    transform: scale(1.04);
    color: var(--text-hover-color);
}

.welcome-social-link-image svg {
    margin-right: .75rem;
    text-decoration: underline none;
    vertical-align: middle;
}

.welcome-social-link {
    all: unset;

    cursor: pointer;
    text-decoration: underline solid;
}

.scroll-arrow {
    z-index: 1;
    text-align: center;
}

.bottom-of-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.about-me-title {
    font-size: 2rem;
}

.about-me-inner-container {
    text-align: center;
}

.about-me-row {
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
}

.about-me-row:nth-child(odd) {
    grid-template-columns: 60% 40%;
}

.about-me-row:nth-child(even) {
    grid-template-columns: 40% 60%;
}

.about-me-row:last-child {
    margin-bottom: 0;
}

.about-me-image-container {
    transition: transform .1s ease;
}

.about-me-image-container img {
    width: 100%;
}

.about-me-image-container:hover {
    transform: scale(1.075);
}

.about-me-image-container iframe {
    display: block;
    width: 100%;
}

.about-me-text-container {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.about-me-text-container:nth-child(odd) {
    margin-right: 1rem;
}

.about-me-text-container:nth-child(even) {
    margin-left: 1rem;
}

.about-me-text {
    transition: transform .1s ease;
    width: fit-content;
    max-width: 90%;
}

.about-me-text a {
    all: unset;

    text-decoration: underline solid;
    cursor: pointer;
}

.about-me-text a:hover {
    color: var(--text-hover-color);
}

.about-me-text-container:nth-child(even) {
    text-align: right;
}

.about-me-text:hover {
    transform: scale(1.04);
}

.cv-text {
    font-size: 1.5rem;

    font-weight: 700;
}

.projects-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.projects-heading-container {
    font-size: 2rem;
    width: fit-content;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: fit-content;
    height: fit-content;
    min-height: 10rem;

    /* margin-top: 1rem; */
    margin-right: 1rem;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;

    transition: transform .1s ease;
}

.project:last-child,
.project:nth-child(3) {
    margin-right: 0;
}

.project:hover {
    transform: scale(1.05);
}

.project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-right: 20px;
}

.project-categories {
    display: grid;
    grid-template-columns: auto auto;
}

.project-category {
    margin-right: 15px;
    padding: 15px;
    outline: var(--text-color) solid 2px;
    border-radius: 5px;
}

.project-category:nth-child(even) {
    margin-right: 0;
}

.project-category:nth-child(n+3) {
    margin-top: 15px;
}

.project-desc-container {
    height: 100%;
    margin-top: 15px;
}

.project-links-container {
    flex-grow: 1;
    display: flex;
    margin-bottom: auto;
    align-items: flex-end;
}

.project-link {
    margin-bottom: 15px;
    margin-top: 25px;
}

.project-link a {
    all: unset;

    margin-right: 15px;
    padding: 15px;
    cursor: pointer;
    outline: var(--text-color) solid 2px;
    border-radius: 5px;
    transition: all .1s ease;
}

.project-link a:hover {
    color: var(--text-hover-color);
    outline: var(--text-hover-color) solid 2px;
    text-decoration: underline solid;
}

footer {
    text-align: center;
}

@keyframes page-load-fly-in {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes page-load-write-on {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .about-me-text-row {
        margin-bottom: 2rem;
    }

    .about-me-image-container iframe {
        height: 13rem;
    }

    .about-me-text-container:nth-child(odd) {
        margin-right: 2rem;
    }

    .about-me-text-container:nth-child(even) {
        margin-left: 2rem;
    }
}

@media screen and (max-height: 1920px) and (max-width: 1080px) {
    .projects-main-container {
        padding-bottom: 40%;
    }
}

@media screen and (max-width: 1366px) {
    .welcome-container {
        transform: scale(0.8);
    }

    .about-me-container {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .top-of-page-container {
        min-height: 750px;
    }

    .welcome-container {
        grid-template-columns: auto;
        padding-top: 0;
        padding-bottom: 3rem;
    }
}